@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';

@import "../node_modules/@syncfusion/ej2-react-documenteditor/styles/material.css";
@import "../node_modules/@syncfusion/ej2-pdfviewer/styles/material.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #5578a1;
}

/* Corner */
::-webkit-scrollbar-corner {
  background-color: #222;
}

/* Resizer */
::-webkit-scrollbar-resizer {
  background-color: #333;
}

/* Additional Styles */
::-webkit-scrollbar-thumb {
  background-color: #2a496f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3e638f;
}

.markdown>* {
  all: revert;
}